<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.tikie.shiro.mapper.GroupMapper">
    <sql id="roleColumns">
        A.*,
        R.id as userId,
        R.account as account,
        R.nickName as nickName,

        R.isActive as r_isActive,
        R.createdBy as r_createdBy,
        R.updatedBy as r_updatedBy,
        R.createdTime as r_createdTime,
        R.updatedTime as r_updatedTime,
        R.note as r_note
    </sql>

    <resultMap id="User" type="com.tikie.shiro.entity.User" />
    <!-- 角色结果集 -->
    <resultMap id="Group" type="com.tikie.shiro.entity.Group">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="order" column="order"/>

        <result property="isActive" column="isActive"/>
        <result property="isDelete" column="isDelete"/>
        <result property="createdBy" column="createdBy"/>
        <result property="updatedBy" column="updatedBy"/>
        <result property="createdTime" column="createdTime"/>
        <result property="updatedTime" column="updatedTime"/>
        <result property="note" column="note"/>
        <collection property="userList" ofType="User">
            <id property="id" column="userId" />
            <id property="account" column="account" />
            <id property="nickName" column="nickName" />

            <result property="isActive" column="r_isActive"/>
            <result property="createdBy" column="r_createdBy"/>
            <result property="updatedBy" column="r_updatedBy"/>
            <result property="createdTime" column="r_createdTime"/>
            <result property="updatedTime" column="r_updatedTime"/>
            <result property="note" column="r_note"/>
        </collection>
    </resultMap>

    <!-- 获取用户信息及用户权限关系信息 -->
    <select id="getById" resultMap="Group">
        select
        <include refid="roleColumns"/>
        from `shiro_group` A
        left outer join `shiro_user`          R on  R.isActive='1' and A.id = R.groupId
        where A.isDelete='0' and A.isActive='1' and A.id = #{id}
    </select>

    <select id="getByIds" resultMap="Group">
        select
            *
        from `shiro_group` A
            WHERE A.id in 
            <foreach collection="array" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
    </select>
</mapper>