<!-- BEGIN THEME STYLES -->
<link href="${beetlCtx}assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="${beetlCtx}assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="${beetlCtx}assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="${beetlCtx}assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="${beetlCtx}assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->